* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    display: flex;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    overflow: hidden;
}

.image-section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-section img {
    width: 100%;
    height: auto;
    max-width: 490px;
    border-radius: 10px;
}

.text-section {
    padding: 50px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-section h1 {
    font-size: 2.5em;
    color: #333;
}

.text-section p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-section img {
        max-width: 100%;
    }

    .text-section {
        text-align: center;
    }
} 
